<section class="mb-5" *ngIf="product">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <img [src]="product.img" alt="">
      </div>
      <div class="col-md-6">
  
        <h5>{{product.name}}</h5>
        <p class="mb-2 text-muted small">this is category</p>
        
        <p><span class="mr-1"><strong>$12.99</strong></span></p>
        <p class="pt-1">{{product.description}}</p>
        
        <hr>
        
        <button class="btn btn-primary">Order</button>
        
      </div>
    </div>
  
  </section>
  <!--Section: Block Content-->