<div class="row mx-auto">
  <div class="col-3" *ngFor="let product of products" >
    <div class="card" style="width: 18rem;" >
      <img [src]="product.img" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <!-- <button class="btn btn-primary" (click)="detail(product.id)">Detail</button> -->
        <button class="btn btn-primary"><a routerLink="/product/{{product.id}}/detail">Detail</a></button>
        <button class="btn btn-danger me-2" (click)="handleRemove(product.id)">remove</button>
        <a routerLink="/product-update/{{product.id}}"><button class="btn btn-success me-2">update</button></a>
      </div>
    </div>
  </div>
</div>
<div id="detail" *ngIf="selectedProduct">
  {{selectedProduct}}
</div>

